<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="plantilla :: head">
</head>
<body style="background-color:rgba(27,27,113,0.28)">
<header th:replace="plantilla :: header"></header>

<div th:object="${producto}" th:remove="tag">
    <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
        <li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
    </ul>
</div>
<br><br>
<form enctype="multipart/form-data" method="post" th:action="@{/admin/productos/editar}"
      th:object="${producto}">
    <input type="text" hidden="hidden" th:field="${producto.codProducto}">
    <input type="text" hidden="hidden" th:field="${producto.id}">
    <table class="text-sm-left table-hover" width="50%" style="margin: auto">
        <thead class="bg-dark text-white">
        <tr>
            <td colspan="4" class="text-lg-center font-weight-bold">Actualizar Producto</td>
        </tr>
        <tr>
            <td colspan="4"></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="bg-dark text-white">Valoracion</td>
            <td>
                <input type="number" min="0" max="5" th:field="*{valoracion}" class="form-control"
                       th:errorclass="'form-control alert-danger'"/>
            </td>
            <td class="bg-dark text-white">Memoria Ram</td>
            <td>
                <input type="number" th:field="*{memoria_ram}" class="form-control"
                       th:errorclass="'form-control alert-danger'"/>
            </td>
        </tr>
        <tr>
            <td class="bg-dark text-white">Modelo</td>
            <td><input type="text" th:field="*{modelo}" class="form-control"
                       th:errorclass="'form-control alert-danger'"/></td>
            <td class="bg-dark text-white">Procesador</td>
            <td><input type="text" th:field="*{procesador}" class="form-control"
                       th:errorclass="'form-control alert-danger'"/></td>
        </tr>
        <tr>
            <td class="bg-dark text-white">Precio</td>
            <td><input type="number" required min="0" th:field="*{precio}" class="form-control"
                       th:errorclass="'form-control alert-danger'"/>
            </td>
            <td class="bg-dark text-white">Sistema operativo</td>
            <td><input type="text" th:field="*{sistemaOperativo}" class="form-control"
                       th:errorclass="'form-control alert-danger'"/>
            </td>
        </tr>
        <tr>
            <td class="bg-dark text-white">Stock</td>
            <td><input type="number" required min="0" th:field="*{stock}" class="form-control"
                       th:errorclass="'form-control alert-danger'"/>
            </td>
            <td class="bg-dark text-white">Almacenamiento interno</td>
            <td><input type="number" required min="0" th:field="*{almacenamientoInterno}" class="form-control"
                       th:errorclass="'form-control alert-danger'"/>
            </td>
        </tr>
        <tr>
            <td class="bg-dark text-white">Distribuidor</td>
            <td class="text-sm-left" colspan="3">
                <select th:field="${producto.distribuidor}" required>
                    <option value=""/>
                    <option th:each="distribuidor : ${distribuidores}" th:value="${{distribuidor}}"
                            th:utext="${distribuidor.getNombre()}"/>
                </select>
            </td>
        </tr>
        <tr>
            <td class="bg-dark text-white">Marca</td>
            <td class="text-sm-left" colspan="3">
                <select th:field="${producto.marca}" required>
                    <option value=""/>
                    <option th:each="marca : ${marcas}" th:value="${{marca}}"
                            th:utext="${marca.getRazonSocial()}"/>
                </select>
            </td>
        </tr>
        <tr>
            <td class="bg-dark text-white">Foto</td>
            <td colspan="3" class="text-left">
                <input type="file" name="file"/>
            </td>
        </tr>
        <tr>
            <td class="bg-dark text-white">Activo</td>
            <td class="text-sm-left" colspan="3">
                <input type="checkbox" th:field="*{activo}"/>
            </td>
        </tr>
        <tr>
            <td></td>
            <td colspan="3" class="text-sm-center">
                <button type="submit" class="btn btn-primary btn-block">Guardar</button>
            </td>
        </tr>
        </tbody>

    </table>

    <small class="form-text text-danger"
           th:if="${#fields.hasErrors('modelo')}" th:errors="*{modelo}"></small>
    <small class="form-text text-danger"
           th:if="${#fields.hasErrors('valoracion')}" th:errors="*{valoracion}"></small>

    <small class="form-text text-danger"
           th:if="${#fields.hasErrors('marca')}" th:errors="*{marca}"></small>

    <small class="form-text text-danger"
           th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></small>

    <small class="form-text text-danger"
           th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}"></small>

    <small class="form-text text-danger"
           th:if="${#fields.hasErrors('memoriaRam')}" th:errors="*{memoria_ram}"></small>

    <small class="form-text text-danger"
           th:if="${#fields.hasErrors('procesador')}" th:errors="*{procesador}"></small>
    <small class="form-text text-danger"
           th:if="${#fields.hasErrors('sistemaOperativo')}" th:errors="*{sistemaOperativo}"></small>
    <small class="form-text text-danger"
           th:if="${#fields.hasErrors('almacenamientoInterno')}" th:errors="*{almacenamientoInterno}"></small>


    <small class="form-text text-danger"
           th:if="${#fields.hasErrors('distribuidor')}"
           th:errors="*{distribuidor}">
    </small>
</form>
<footer th:replace="plantilla :: footer"/>
</body>
</html>