<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="plantilla :: head">
</head>
<body style="background-color:rgba(27,27,113,0.28)">
<header th:replace="plantilla :: header"></header>

<div th:object="${produto}" th:remove="tag">
    <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
        <li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
    </ul>
</div>
<br><br>
<form th:action="@{/admin/productos/add}" th:object="${produto}"
      method="post" enctype="multipart/form-data">
    <table class="text-sm-left table-hover" width="600px" style="margin: auto">
        <thead class="bg-dark text-white">
        <tr>
            <td colspan="2" class="text-sm-center">Nuevo Producto</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="bg-dark text-white">Código</td>
            <td><input type="text" th:field="*{codProducto}" class="form-control"
                       th:errorclass="'form-control alert-danger'"/></td>
        </tr>
        <tr>
            <td class="bg-dark text-white">Nombre</td>
            <td><input type="text" th:field="*{nombre}" class="form-control"
                       th:errorclass="'form-control alert-danger'"/></td>
        </tr>
        <tr>
            <td class="bg-dark text-white">Descripcion</td>
            <td><input type="text" th:field="*{descripcion}" class="form-control"
                       th:errorclass="'form-control alert-danger'"/></td>
        </tr>
        <tr>
            <td class="bg-dark text-white">Precio</td>
            <td><input type="number" required min="0" th:field="*{precio}" class="form-control"
                       th:errorclass="'form-control alert-danger'"/>
            </td>
        </tr>
        <tr>
            <td class="bg-dark text-white">Cantidad</td>
            <td><input type="number" required min="0" th:field="*{cantidad}" class="form-control"
                       th:errorclass="'form-control alert-danger'"/>
            </td>
        </tr>
        <tr>
            <td class="bg-dark text-white">Distribuidor</td>
            <td class="text-sm-right">
                <select th:field="${produto.distribuidor}" required>
                    <option value=""/>
                    <option th:each="distribuidor : ${proveedores}" th:value="${{distribuidor}}"
                            th:utext="${distribuidor.getNombre()}"/>
                </select>
            </td>
        </tr>
        <tr>
            <td class="bg-dark text-white">Foto</td>
            <td>
                <input type="file" name="file"/>
            </td>
        </tr>
        <tr>
            <td class="bg-dark text-white">Activo</td>
            <td class="text-sm-right">
                <input type="checkbox" th:field="*{activo}"/>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="text-sm-center">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </td>
        </tr>
        </tbody>

    </table>

    <small class="form-text text-danger"
           th:if="${#fields.hasErrors('codProducto')}" th:errors="*{codProducto}"></small>

    <small class="form-text text-danger"
           th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>

    <small class="form-text text-danger"
           th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></small>

    <small class="form-text text-danger"
           th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></small>


    <small class="form-text text-danger"
           th:if="${#fields.hasErrors('cantidad')}" th:errors="*{cantidad}"></small>

    <small class="form-text text-danger"
           th:if="${#fields.hasErrors('distribuidor')}"
           th:errors="*{distribuidor}">
    </small>
</form>
<footer th:replace="plantilla :: footer"/>
</body>
</html>