<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="plantilla :: head">
</head>

<body style="background-color:rgba(27,27,113,0.28)">

<header th:replace="plantilla :: header"></header>

<div class="container">
    <div class="text-lg-center">
        <h1>CARRITO</h1>
        <table class="table table-hover text-center" id="table">
            <thead class="bg-info font-weight-bold">
            <tr>
                <td>Producto</td>
                <td>Importe</td>
                <td>Cantidad</td>
                <td></td>
            </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>
        <div class="text-center font-weight-bold">
            <button onclick="comprar()">Terminar compra</button>
        </div>
        <div id="dv"></div>
    </div>
</div>
<footer th:replace="plantilla :: footer"></footer>
</body>
<script th:inline="javascript">
    var sessionStorage = window.sessionStorage;
    var carrito;
    render();

    function render() {
        carrito = JSON.parse(sessionStorage.getItem("carrito"));
        var tbody = document.getElementById("tbody");
        tbody.remove();
        var tb = document.createElement("tbody");
        tb.setAttribute("id", "tbody");
        document.getElementById("table").appendChild(tb);
        for (let i = 0; i < carrito.length; i++) {
            var tr = document.createElement("tr");
            var td = document.createElement("td");
            td.setAttribute("id", carrito[i]['id']);
            td.appendChild(document.createTextNode(carrito[i]['modelo']));
            var td1 = document.createElement("td");
            td1.appendChild(document.createTextNode(carrito[i]['precio']));
            var td2 = document.createElement("td");
            td2.appendChild(document.createTextNode("1"));
            var td3 = document.createElement("td");
            var img = document.createElement("img");
            img.setAttribute("src", "/images/borrar.png");
            img.onclick = borrar;
            img.setAttribute("height", "30px");
            img.setAttribute("width", "30px");
            img.setAttribute("onclick", "borrar(" + td.getAttribute("id") + ")");
            td3.appendChild(img);
            tr.append(td, td1, td2, td3);
            tb.appendChild(tr);
        }
    }

    $(function () {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(header, token);
        });
    });

    function borrar(id) {
        carrito.splice(carrito.indexOf(id), 1);
        sessionStorage.clear();
        sessionStorage.setItem("carrito", JSON.stringify(carrito));
        render();
    }

    function comprar() {
        $.ajax({
            type: "POST",
            contentType: "application/json",
            data: sessionStorage.getItem("carrito"),
            url: '/admin/pedidos/comprar',
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function () {
                sessionStorage.clear();
                render();
                alert("pedido realizado correctamente");
            }
        });
    }
</script>
</html>