<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="plantilla :: head"/>
<header th:replace="plantilla :: header"></header>
<body style="background-color:rgba(27,27,113,0.28)">
<table class="table table-hover text-center">
    <thead class="bg-info font-weight-bold">
    <tr>
        <td>Codigo del pedido</td>
        <td>Fecha del pedido</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pedido: ${pedidos}">
        <td th:utext="${pedido.codigoPedido}"></td>
        <td th:utext="${pedido.fechaPedido}"></td>
        <td><a class="btn btn-primary" th:href="@{/admin/pedidos/detalles/}+${pedido.id}" th:target="_blank">Ver
            detalles</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="plantilla :: footer"></footer>
</body>
</html>