<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="plantilla :: head">
</head>

<body style="background-color:rgba(27,27,113,0.28)">

<header th:replace="plantilla :: header"></header>

<div class="container  py-4" style="margin-bottom:5%">
    <div th:object="${usuario}" th:remove="tag">
        <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
        </ul>
    </div>

    <div class="card bg-dark text-white">
        <div class="card-header">
            <h1>Nuevo Usuario</h1>
        </div>
        <div class="card-body">
            <form th:action="@{/registrarse}" th:object="${usuario}"
                  method="post" enctype="multipart/form-data">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Nombre</label>
                    <div class="col-sm-6">
                        <input type="text" th:field="*{nombre}" class="form-control"
                               th:errorclass="'form-control alert-danger'"/>
                        <small class="form-text text-danger"
                               th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Apellido 1º</label>
                    <div class="col-sm-6">
                        <input type="text" th:field="*{apellido1}" class="form-control"
                               th:errorclass="'form-control alert-danger'"/>
                        <small class="form-text text-danger"
                               th:if="${#fields.hasErrors('apellido1')}" th:errors="*{apellido1}"></small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Apellido 2º</label>
                    <div class="col-sm-6">
                        <input type="text" th:field="*{apellido2}" class="form-control"
                               th:errorclass="'form-control alert-danger'"/>
                        <small class="form-text text-danger"
                               th:if="${#fields.hasErrors('apellido2')}" th:errors="*{apellido2}"></small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Nif</label>
                    <div class="col-sm-6">
                        <input type="text" th:field="*{nif}" class="form-control"
                               th:errorclass="'form-control alert-danger'"/>
                        <small class="form-text text-danger"
                               th:if="${#fields.hasErrors('nif')}" th:errors="*{nif}"></small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Fecha nacimiento</label>
                    <div class="col-sm-6">
                        <input type="text" th:field="*{fechaNacimiento}" class="form-control"
                               th:errorclass="'form-control alert-danger'"/>
                        <small class="form-text text-danger"
                               th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}"></small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-6">
                        <input type="text" th:field="*{username}" class="form-control"
                               th:errorclass="'form-control alert-danger'"/>
                        <small class="form-text text-danger"
                               th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Contraseña</label>
                    <div class="col-sm-6">
                        <input type="password" th:field="*{password}" class="form-control"
                               th:errorclass="'form-control alert-danger'"/>
                        <small class="form-text text-danger"
                               th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Foto</label>
                    <div class="col-sm-6">
                        <input type="file" name="file" class="form-control"/>
                    </div>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" th:field="*{activo}"/>
                    <label class="form-check-label">Activo</label>
                </div>
                <button type="submit" class="btn btn-primary col-sm-12">Guardar</button>
            </form>
        </div>
    </div>
</div>
<footer th:replace="plantilla :: footer"></footer>
</body>
</html>