<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="plantilla :: head">
    <title></title>
</head>

<body>

<header th:replace="plantilla :: header"></header>

<div class="container  py-4">
    <div class="card bg-dark text-white">
        <div class="card-header row">
            <h1 class="col-sm-8">FICHA DEL PRODUCTO</h1>

        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-sm-7">
                    <div class="row">
                        <label class="col-sm-3">Nombre</label>
                        <label class="col-sm-6" th:text="${producto.marca.razonSocial}+' '+${producto.modelo}"></label>
                    </div>
                    <div class="row">
                        <label class="col-sm-3">Productos restantes</label>
                        <label class="col-sm-6" th:text="${producto.stock}"></label>
                    </div>
                    <div class="row">
                        <label class="col-sm-3">Precio</label>
                        <label class="col-sm-6" th:text="${producto.precio}"></label>
                    </div>
                    <div class="row">
                        <label class="col-sm-3">Valoracion media del producto</label>
                        <th:block th:class="col-sm-6" th:each="i: ${#numbers.sequence(1, producto.getValoracion())}">
                            <img th:src="@{/images/es.png}" th:width="39px" th:height="40px">
                        </th:block>
                    </div>
                    <div class="row">
                        <label class="col-sm-3">Sistema operativo</label>
                        <label class="col-sm-6" th:text="${producto.sistemaOperativo}"></label>
                    </div>
                    <div class="row">
                        <label class="col-sm-3">Especificaciones</label>
                        <label class="col-sm-6"
                               th:text="'Memoria ram '+${producto.memoriaRam}+'GB, Almacenamiento interno '+${producto.almacenamientoInterno}+'GB, Procesador '+${producto.procesador}"></label>
                    </div>
                </div>
                <img th:if="${not #strings.isEmpty(producto.foto) and #strings.length(producto.foto) > 0}"
                     class="img-thumbnail rounded col-sm-6"
                     style="max-width:300px;height:250px" th:src="@{'/upload/' + ${producto.foto}}"/>
            </div>

        </div>
    </div>
    <a sec:authorize="hasRole('ROLE_ADMIN')"
       th:href="@{/admin/productos/editar/}+${producto.id}">Modificar producto</a>
</div>

<footer th:replace="plantilla :: footer"></footer>

</body>
</html>