<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="plantilla :: head"/>
<header th:replace="plantilla :: header"></header>
<body style="background-color:rgba(27,27,113,0.28)">
<table class="table table-hover text-center">
    <thead class="bg-info font-weight-bold">
    <tr>
        <td>Modelo</td>
        <td>Precio</td>
        <td>Stock</td>
        <td>Memoria ram</td>
        <td>Procesador</td>
        <td>Sistema operativo</td>
        <td>Almacenamiento interno</td>
        <td>Marca</td>
        <td>Foto</td>
    </tr>
    </thead>
    <tbody>
    <div th:each="producto: ${productos}"></div>
    <tr th:each="p: *{producto}">
        <td th:utext="${p.modelo}"></td>
        <td th:utext="${p.precio}"></td>
        <td th:utext="${p.stock}"></td>
        <td th:utext="${p.memoriaRam}"></td>
        <td th:utext="${p.procesador}"></td>
        <td th:utext="${p.sistemaOperativo}"></td>
        <td th:utext="${p.almacenamientoInterno}"></td>
        <td th:utext="${p.marca.razonSocial}"></td>
        <td>
            <img th:if="${not #strings.isEmpty(p.foto) and #strings.length(p.foto) > 0}"
                 class="card-img-top"
                 style="max-height:50px;max-width: 50px" th:src="@{'/upload/' + ${p.foto}}"
                 th:alt="foto"/>
        </td>
    </tr>
    </tbody>
</table>
<footer th:replace="plantilla :: footer"></footer>
</body>
</html>