<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="plantilla :: head"/>
<header th:replace="plantilla :: header"></header>
<body style="background-color:rgba(27,27,113,0.28)">
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgba(15,15,68,0.46)"
     sec:authorize="hasRole('ROLE_USER')">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Marcas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div th:each="marca: ${marcas}">
                        <p><input th:value="*{marca.razonSocial}" th:utext="*{marca.razonSocial}"
                                  class="dropdown-item marca" type="checkbox"/></p>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Procesadores
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div th:each="procesador: ${procesadores}">
                        <p><input th:value="*{procesador}" th:utext="*{procesador}" class="dropdown-item pro"
                                  type="checkbox"/></p>
                    </div>
                </div>
            </li>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Memoria ram
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div th:each="r: ${ram}">
                        <p><input th:value="*{r}" th:utext="*{r}" class="dropdown-item ram" type="checkbox"/></p>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sistema operativo
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div th:each="s: ${So}">
                        <p><input th:value="*{s}" th:utext="*{s}" class="dropdown-item so" type="checkbox"/></p>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Almacenamiento interno
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div th:each="a: ${almacenamiento}">
                        <p><input th:value="*{a}" th:utext="*{a}" class="dropdown-item ali" type="checkbox"/></p>
                    </div>
                </div>
            </li>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                    <form th:action="@{/admin/productos/list1}" method="get">
                        <button type="submit" class="btn btn-secondary">Restablecer</button>
                    </form>
                </li>
            </ul>
        </ul>
    </div>
</nav>
<div class="container" id="raiz">
    <div id="cont">
        <div class="row py-3">
            <div class="card col-sm-3" th:each="producto: ${productos}" id="prod">
                <div class="text-center">
                    <img th:if="${not #strings.isEmpty(producto.foto) and #strings.length(producto.foto) > 0}"
                         class="img-fluid"
                         style="height:200px;width: 200px" th:src="@{'/upload/' + ${producto.foto}}"
                         th:alt="foto"/>
                </div>
                <div class="card-body">
                    <th:block th:each="i: ${#numbers.sequence(1, producto.getValoracion())}">
                        <img th:src="@{/images/es.png}" th:width="39px" th:height="40px">
                    </th:block>
                    <h6 class="card-title font-weight-bold"
                        th:utext="*{producto.marca.razonSocial}+' - '+*{producto.modelo}"></h6>
                    <p th:text="'('+*{producto.memoria_ram}+'+'+*{producto.almacenamientoInterno}+')'"></p>
                    <p class="card-text" th:text="*{producto.precio}+'€'"></p>
                    <a sec:authorize="hasRole('ROLE_USER')"
                       th:href="@{/admin/productos/fichaProducto/} + ${producto.id}">Ver producto</a>
                    <a sec:authorize="hasRole('ROLE_USER')" th:id="*{producto.id}" class="btn btn-primary"
                       onclick="add(this.id)">Añadir al carrito</a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="plantilla :: footer"></footer>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    // $(this).val() obtiene el valor del objeto
    var marca = [];
    var procesadores = [];
    var ram = [];
    var So = [];
    var ali = [];
    $(".marca").on('change', function () {
        if ($(this).is(':checked')) {
            marca.push($(this).val());
        } else {
            marca.splice(marca.indexOf($(this).val()), 1);
        }
        filtar("marca");
    });
    $(".pro").on('change', function () {
        if ($(this).is(':checked')) {
            procesadores.push($(this).val());
        } else {
            procesadores.splice(procesadores.indexOf($(this).val()), 1);
        }
        filtar("procesador");
    });
    $(".ram").on('change', function () {
        if ($(this).is(':checked')) {
            ram.push($(this).val());
        } else {
            ram.splice(ram.indexOf($(this).val()), 1);
        }
        filtar("ram");
    });
    $(".so").on('change', function () {
        if ($(this).is(':checked')) {
            So.push($(this).val());
        } else {
            So.splice(So.indexOf($(this).val()), 1);
        }
        filtar("so");
    });
    $(".ali").on('change', function () {
        if ($(this).is(':checked')) {
            ali.push($(this).val());
        } else {
            ali.splice(ali.indexOf($(this).val()), 1);
        }
        filtar("ali");
    });
    //funcion necesaria para el funcionamiento de ajax con spring security
    $(function () {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(header, token);
        });
    });

    function add(id) {
        var sessionStorage = window.sessionStorage;
        var carrito;
        if (sessionStorage.getItem("carrito") == null) {
            carrito = [];
            sessionStorage.setItem("carrito", JSON.stringify(carrito));
        } else {
            carrito = JSON.parse(sessionStorage.getItem("carrito"));
        }
        $.ajax({
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(id),
            url: '/admin/productos/addCarrito',
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {
                if (data != undefined) {
                    carrito.push(data);
                    sessionStorage.setItem("carrito", JSON.stringify(carrito));
                }
            }
        });
    }

    function filtar(campo) {
        var url;
        var js;
        switch (campo) {
            case "marca":
                url = '/admin/marca/filtro';
                js = JSON.stringify(marca);
                break;
            case "procesador":
                url = '/admin/productos/filtroProcesador';
                js = JSON.stringify(procesadores);
                break;
            case "ram":
                url = '/admin/productos/filtroRam';
                js = JSON.stringify(ram);
                break;
            case "so":
                url = '/admin/productos/filtroSo';
                js = JSON.stringify(So);
                break;
            case "ali":
                url = '/admin/productos/filtroAli';
                js = JSON.stringify(ali);
                break;
        }
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: url,
            data: js,
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {
                if (data != undefined) {
                    render(data);
                }
            }
        });
    }

    function render(data) {
        var raiz = document.getElementById("raiz");
        if (data.length > 0) {
            document.getElementById("cont").remove();
        }
        var div1 = document.createElement("div");
        div1.setAttribute("id", "cont");
        var div2 = document.createElement("div");
        div2.classList.add("row", "py-3");
        for (let i = 0; i < data.length; i++) {
            var div3 = document.createElement("div");
            div3.setAttribute("id", "prod");
            div3.classList.add("card", "col-sm-3");
            var div4 = document.createElement("div");
            div4.classList.add("text-center");
            var img = document.createElement("img");
            var ruta = "/upload/" + data[i]['foto'];
            img.setAttribute("src", ruta);
            img.classList.add("img-fluid");
            img.setAttribute("style", "height:200px;width:200px;");
            var div5 = document.createElement("div");
            div5.classList.add("card-body");
            var h6 = document.createElement("h6");
            h6.classList.add("card-title", "font-weight-bold");
            var producto = "(" + data[i]['memoriaRam'] + "+" + data[i]['almacenamientoInterno'] + ")";
            var p = document.createElement("p");
            var a = document.createElement("a");
            a.appendChild(document.createTextNode("añadir al carrito"));
            a.classList.add("btn", "btn-primary");
            a.setAttribute("id", data[i]['id']);
            a.onclick = add;
            a.setAttribute("onclick", "add(" + a.getAttribute("id") + ")");
            raiz.appendChild(div1);
            div1.appendChild(div2);
            div2.appendChild(div3);
            div3.appendChild(div4);
            div4.appendChild(img);
            div3.appendChild(div5);
            div5.appendChild(h6);
            h6.appendChild(document.createTextNode(producto));
            div5.appendChild(p);
            p.appendChild(document.createTextNode(data[i]['precio'] + "€"));
            p.classList.add("card-text");
            div5.appendChild(a);
        }
    }

    /*]]>*/
</script>
</html>
